* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #29335c;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

Nav ul a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

header div,
Nav {
  display: flex;
  align-items: center;
}

#carrito {
  width: 20px;
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: typing-circle7124 0.5s alternate infinite ease;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@-webkit-keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-animation: typing-shadow046 0.5s alternate infinite ease;
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@-webkit-keyframes typing-shadow046 {
  0% {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }

  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

@keyframes typing-shadow046 {
  0% {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }

  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}